@model Apollo.Models.Biography

@{
    ViewData["Title"] = "Details";
}
<head>
    <link href="~/Styles/details.css" rel="stylesheet" />
</head>
<h1>Details</h1>

<div>
    <h4>Biography</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist.StageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarlyLife)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarlyLife)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Career)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Career)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artistry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artistry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalLife)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalLife)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSongs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSongs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfAlbums)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfAlbums)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
