@model Apollo.Models.Song

@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="~/Styles/details.css" rel="stylesheet" />
</head>

<div class="title justify-content-center">
    <h1>Song Details</h1>
</div>



<div class="row justify-content-center">
    <div class="col">
        <table class="table table-dark table-borderless table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Artist)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Length)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Album)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.Category.Name)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.Artist.StageName)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.Rating)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.Length)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.ReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.Album.Title)
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="backToList justify-content-center">
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
