@model Apollo.Models.User

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="~/Styles/delete.css" rel="stylesheet" />
</head>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="users-delete modal-title">Important!</h5>
            </div>
            <div class="modal-body">
                <span class="users-delete">
                    A user cannot remove himself!
                </span>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" onclick="document.location.href = '/Home'">Understood</button>
            </div>
        </div>
    </div>
</div>

<div class="deleteTitle justify-content-center">
    <h3>Are you sure you want to delete @Model.Username?</h3>
</div>

<div class="row justify-content-center">
    <div class="col">
        <table class="table table-dark table-borderless table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailAdress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoleType)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.EmailAdress)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.RoleType)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="backToList justify-content-center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        var currentUser = @Html.Raw(Json.Serialize(User.Identity.Name));
        var editedUser = @Html.Raw(Json.Serialize(Model.Username));
    </script>
    <script src="~/Scripts/users-delete.js"></script>
}
