@model Apollo.Models.Label

@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="~/Styles/details.css" rel="stylesheet" />
</head>

<div class="title justify-content-center">
    <h1>Label Details</h1>
</div>

<div class="row justify-content-center">
    <div class="col">
        <table class="table table-dark table-borderless table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Founded)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Artists)
                    </th>
                </tr>
            </thead>
            @{
                var artists = Model.Artists.Select(x => x.StageName + " ");
            }
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Founded)
                    </td>
                    <td>
                        @Html.DisplayFor(model => artists)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="backToList justify-content-center">
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>