@model IEnumerable<Apollo.Models.Label>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/Styles/labels.css" rel="stylesheet" />
</head>
<h1>Labels</h1>

<div class="col-sm text-center">
    <div class="input-group input-group-lg center">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">
                <i class="bi-search" role="img" aria-label="GitHub"></i>
            </span>
        </div>
        <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" id="searchBox">
    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Founded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artists)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var artists = item.Artists.Select(x => x.StageName + " ");
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Founded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => artists)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="center" id="noData"></div>

@section Scripts {
    <script src="~/Scripts/labels.js"></script>
}
