@model Apollo.Models.Album

@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="~/Styles/details.css" rel="stylesheet" />
</head>

<div class="title justify-content-center">
    <h1>Album Details</h1>
</div>

<div class="centerData">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src=@Model.Cover>
        <div class="card-body">
            <h1 class="card-title">@Html.DisplayFor(model => model.Title)</h1>
            <h4><span class="detailsCategory">Category:</span> @Html.DisplayFor(model => model.Category.Name)</h4>
            <h4><span class="detailsCategory">Artist:</span> @Html.DisplayFor(model => model.Artist.StageName)</h4>
            @if (Model.ListenTime.Seconds > 0 && Model.ListenTime.Seconds < 10)
            {
                <h4><span class="detailsCategory">Listen Time:</span> @Html.DisplayFor(model => model.ListenTime.Minutes):<span>0</span>@Html.DisplayFor(model => model.ListenTime.Seconds) minutes</h4>
            }
            else if (Model.ListenTime.Seconds > 9)
            {
                <h4><span class="detailsCategory">Listen Time:</span> @Html.DisplayFor(model => model.ListenTime.Minutes):@Html.DisplayFor(model => model.ListenTime.Seconds) minutes</h4>
            }
            else
            {
                <h4><span class="detailsCategory">Listen Time:</span> @Html.DisplayFor(model => model.ListenTime.Minutes) minutes</h4>
            }
            <h4><span class="detailsCategory">Rating:</span> @Html.DisplayFor(model => model.Rating)</h4>
            <h4><span class="detailsCategory">Release:</span> @Html.DisplayFor(model => model.ReleaseDate)</h4>
            <div>
                <h3><span class="detailsCategory">Songs:</span></h3>
                @if (Model.Songs.Count > 0)
                {
                    @foreach (Song song in Model.Songs)
                    {
                        <div class="row">
                            <div class="col">
                                <h4 class="songName">@song.Title</h4>
                            </div>
                            <div class="col">
                                <h4>@song.Length</h4>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h4>No songs</h4>
                }
            </div>
        </div>
    </div>
</div>

<div class="backToList justify-content-center">
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>