@model Apollo.Models.Artist

@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="~/Styles/details.css" rel="stylesheet" />
</head>

<div class="title justify-content-center">
    <h1>Artist Details</h1>
</div>

<div class="row justify-content-center">
    <div class="col">
        <table class="table table-dark table-borderless table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Songs)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Albums)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Labels)
                    </th>
                </tr>
            </thead>
            @{ 
                var songs = Model.Songs.Select(x => x.Title + " ");
                var albums = Model.Albums.Select(x => x.Title + " ");
                var labels = Model.Labels.Select(x => x.Name + " ");
            }
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.StageName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(model => songs)
                    </td>
                    <td>
                        @Html.DisplayFor(model => albums)
                    </td>
                    <td>
                        @Html.DisplayFor(model => labels)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="backToList justify-content-center">
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>